.main {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
}

.left-box {
    width: 15%;
    height: calc(100% - 30px);
    margin-left: 20px;
    margin-right: 20px;
    min-width: 230px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
}

.right-box {
    width: 85%;
    height: calc(100% - 30px);
    border: 1px solid #BBBBBB;
    border-radius: 6px;
    margin-right: 20px;
    min-width: 498px;
    min-height: 320px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.msg-box {
    width: 100%;
    height: calc(100% - 200px);
    border: 1px solid #BBBBBB;
    border-radius: 6px;
    position: relative;
    margin-top: -35px;
    padding: 40px 10px 10px 10px;
}

.msg-list-box {
    height: 100%;
    overflow: auto;
}

    /* 隐藏滚动条 */
    .msg-list-box::-webkit-scrollbar {
        width: 0;
        background-color: transparent;
    }

        /* 当鼠标悬停在 div 或滚动条槽上时，显示滚动条 */
        .msg-list-box:hover::-webkit-scrollbar,
        .msg-list-box::-webkit-scrollbar:hover {
            width: 8px;
            background-color: transparent;
        }

    /* 滚动条滑块样式 */
    .msg-list-box::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 4px;
    }

        /* 鼠标悬停在滑块上时的样式 */
        .msg-list-box::-webkit-scrollbar-thumb:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

@media screen and (max-width: 768px) {
    .left-box {
        display: none;
    }

    .right-box {
        width: 100%;
        height: calc(100% - 10px);
        border: 1px solid #BBBBBB;
        border-radius: 6px;
        margin-left: 10px;
        margin-right: 10px;
        min-width: calc(100% - 20px);
    }
}

.head-con-box {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 2;
}

.head-box {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    min-width: 60px;
    min-height: 60px;
    background-color: white;
    z-index: 2;
}

.con-box {
    display: flex;
    flex-direction: column;
    width: calc(100% - 70px);
    margin-left: -10px;
}

.model-select-box {
    padding-left: 10px;
    margin-top: 10px;
}

.progressbar-box {
    width: 100%;
    margin-top: 5px;
    position: relative;
}

.progressbar-box-view {
    width: 100%;
}

.progressbar-box-value {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 2;
    height: 20px;
}

.model-select-box {
    display: inline-block;
    width: 100%;
    max-width: 250px;
    position: relative;
}

.model-select {
    display: inline-block;
    width: 100%;
    max-width: 250px;
    position: relative;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 14px;
    outline: none;
}

    .model-select:focus {
        box-shadow: 0 0 0 0.1rem rgba(187, 187, 187, 0.25);
    }

.model-select-box:after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 21" width="21" height="21"><title>chevron-down</title><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>');
    font-size: 12px;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.model-select::-ms-expand {
    display: none;
}

.msg-item {
    position: relative;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 10px);
}

    .msg-item:hover .msg-item-close-icon {
        display: block;
    }

.msg-item-close-icon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    cursor: pointer;
}

.msg-item:hover {
    background-color: #BBBBBB32;
    border-radius: 0 35px 35px 0;
}

.chat-box {
    width: 100%;
    height: 100%;
    position: relative;
}

.chat-container {
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    padding: 5px;
    padding-bottom: 5%;
}

@media screen and (max-width: 768px) {
    .chat-container {
        padding-bottom: 10%;
    }
}

    .chat-container::-webkit-scrollbar {
        width: 8px;
        background-color: transparent;
    }

    .chat-container::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 4px;
    }

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.message-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.message {
    display: inline-block;
    max-width: 80%;
    padding: 10px 10px;
    margin: 0 10px;
    border-radius: 10px;
    position: relative;
}

.message-content {
    width: 100%;
    overflow: hidden;
}

.message-left .message {
    background-color: #F5F5F5;
}

.message-right .message {
    background-color: #9ec230;
}

.arrow-left,
.arrow-right {
    width: 0;
    height: 0;
    position: absolute;
    border: 5px solid transparent;
}

.arrow-left {
    top: 8px;
    left: -10px;
    border-right-color: #F5F5F5;
}

.arrow-right {
    top: 8px;
    right: -10px;
    border-left-color: #9ec230;
}

.message-left {
    justify-content: flex-start;
}

.message-right {
    justify-content: flex-end;
}

.chat-con-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.chat-input-box {
    width: 30%;
    height: 100%;
    bottom: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;
}

.chat-input-textarea {
    height: 50%;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    overflow: hidden;
    transition: height 0.3s ease;
    border: 1px solid #BBBBBB;
    background-color: #FFFFFF;
    outline: none;
    border-radius: 35px 35px 35px 35px;
    padding: 10px 15px 10px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    .chat-input-textarea:focus {
        height: 100%;
    }

.chat-input-send-btn {
    transition: bottom 0.3s ease;
    display: block;
    position: absolute;
    bottom: 18%;
    right: 20px;
    cursor: pointer;
}

.chat-input-textarea:focus ~ .chat-input-send-btn {
    display: block;
    bottom: 40%;
}

@media screen and (max-width: 768px) {
    .chat-input-box {
        width: 80%;
    }
}

@media screen and (max-width: 1600px) and (min-width: 768px) {
    .chat-input-box {
        width: 50%;
    }
}