@using System.Diagnostics.CodeAnalysis;
<div class="msg-list-box">
    @foreach (var item in Items)
    {
        <div class="msg-item @(!string.IsNullOrWhiteSpace(SelectId) && item.Id == SelectId ? "msg-item-select":"")" @onclick="@(e=>SelectMsg(item))">
            <div style="margin-left: 10px">
                <MIcon>mdi-message-outline</MIcon>
            </div>
            <span style="margin-left: 10px;user-select: none;">@item.Title</span>
            <div class="msg-item-close-icon">
                <MIcon @onclick="@(e=>RemoveMsg(item))">mdi-close</MIcon>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public List<HistoryMsgItem> Items { get; set; }

    [Parameter, AllowNull]
    public string SelectId { get; set; }

    [Parameter]
    public EventCallback<HistoryMsgItem> OnRemoveItem { get; set; }

    [Parameter]
    public EventCallback<HistoryMsgItem> OnSelectItem { get; set; }

    private void RemoveMsg(HistoryMsgItem item)
    {
        Items.Remove(item);
        OnRemoveItem.InvokeAsync(item);
    }

    private void SelectMsg(HistoryMsgItem item)
    {
        SelectId = item.Id;
        OnSelectItem.InvokeAsync(item);
    }
}
